<div id="splash" class="min-h-screen flex items-center justify-center bg-gray-100 w-full">
  <div class="text-text text-center w-full flex flex-col h-screen justify-around">
    <h1 class="text-4xl font-bold mb-6 flex flex-1 flex-col justify-end">Finans Flux</h1>
    <div class="w-full md:w-1/4 flex flex-col items-center px-4 tracking-tighter flex-1 justify-center">
      <%= link_to 'Log In', new_user_session_path, class: 'bg-main text-white px-8 py-4 rounded-sm hover:bg-opacity-80 mb-4 w-full uppercase' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'text-gray-600 hover:underline uppercase font-thin' %>
    </div>
  </div>
</div>
