@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&family=Outfit:wght@300;400;600&display=swap');

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

body {
  font-family: 'Proxima Nova', 'Inter', sans-serif;
}

#splash h1 {
  font-family: 'Hind Siliguri', sans-serif;
}

[multiple]:focus,
[type=email]:focus,
[type=number]:focus,
[type=password]:focus,
[type=text]:focus,
select:focus,
textarea:focus {
  --tw-ring-inset:
    var(
      --tw-empty,
      /*!*/
      /*!*/
    );
  --tw-ring-offset-width: 0;
  --tw-ring-offset-color: transparent;
  --tw-ring-color: transparent;
}
